*{
  margin: 0;
  padding: 0;
}

.home-container {
  padding: 20px;
  background-color: hsl(0, 9%, 87%);
  width: 100vw;
  min-height: 100vh;
  transition: 0.5s;
  margin-top: 60px; 
}

.home-container.dark{
  background: #222;
  color: #fff;
}
.home-container.dark a{
  color:#fff;
  -ms-text-underline-position: under;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

thead th {
  background-color: #
