* {
  margin: 0;
  padding: 0;
}

.home-container {
  padding: 20px;
  width: 100vw;
  min-height: 100vh;
  transition: 0.5s;
  margin-top: 80px; 
}

.home-container.dark * {
  color: #fff;
}

.home-container.dark a {
  color: #fff;
  -ms-text-underline-position: under;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

table.dark {
  background-color: #333; 
  color: #fff; 
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333; 
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1; 
}

/* Dark mode styles */
.home-container.dark table {
  background-color: #444; 
}

.home-container.dark th {
  background-color: #555; 
  color: #fff; 
}

.home-container.dark tr:nth-child(even) {
  background-color: #333; /* Even row background in dark mode */
}

.home-container.dark tr:hover {
  background-color: #666; /* Hover effect in dark mode */
}
